# Major Question 1

> <font color='red'>1.Write a program to print the following patterns :<br>
>I.</font>

                  *
                  **
                  ***
                  ****

In [2]:
for i in range(0, 4):    
        for j in range(0, i + 1):  
            print("*", end="")         
        print()

*
**
***
****

><font color='red'>II.</font>
                
                  1
                  1 2
                  1 2 3
                  1 2 3 4

In [6]:
for i in range(1, 5):    
        for j in range(1, i + 1):  
            print(j , end=" ")         
        print()

1
1 2
1 2 3
1 2 3 4

<font color='red'>2.Write a program to print the sum of ‘n’ natural numbers. ‘n’ will be provided by user.</font>

In [8]:
n = int(input('Enter number : '))
sum = 0
for i in range(1 , n+1):
  sum+=i

print(sum)

Enter number : 10
55

<font color='red'>3.Write a program to take a input number from user and print whether the given no. is even or odd.</font>

In [10]:
num = int(input('Enter Number : '))

if num % 2 == 0:
  print(num, 'is even number.')
else:
  print(num, 'is odd number.')

Enter Number : 12
12 is even number.

<font color='red'>4.Define a class person with<br>->properties : eid, pname<br>->methods : set_eid, set_pname, get_pname, get_pid<br>Define an employee class that must inherit person class with<br>->
properties : department, Designation<br>
->methods : get_salary(abstract), display_emp_info<br>Note: display_emp_info must display eid, pname, department and designation</font>

In [14]:
class person(object):
  def __init__(self,eid,pname):
    self.eid = eid
    self.pname = pname

  def get_pname(self):
    return self.pname

  def set_pname(self,x):
    self.pname = x

  
  def get_eid(self):
    return self.eid

  def set_eid(self,y):
    self.eid = y



class employee(person):
  def __init__(self,eid,pname,department,designation):
    self.department = department
    self.designation = designation

    person.__init__(self,eid,pname)

  def display_emp_info(self):
    print('eid : ',self.eid)
    print('pname : ',self.pname)
    print('department : ',self.department)
    print('designation : ',self.designation)


a = employee(1,'Omkar','IT','Data Analyst')
a.display_emp_info()

eid :  1
pname :  Omkar
department :  IT
designation :  Data Analyst