In [1]:
import pandas as pd

In [6]:
# 1.Create a series containing elements 5,10,15,20,25.Fetch elements from index position 1 and 3
df = pd.Series([5,10,15,20,25])

In [7]:
print(df[1])
print(df[3])

10
20

In [9]:
# 2.Write the code to import data using pandas 
# A. From a csv file
# B. From an excel file(Consider the file name as bmi)

df1 = pd.read_csv('bmi.csv')
df1 = pd.read_excel('bmi.xlsx')

In [12]:
# 3.Create three columns containing marks of subject Physics,Chemistry and Maths for three students, copy the DataFrame and then display it.
df2 = pd.DataFrame({'Physics':[78,85,86],'Chemistry':[84,94,89],'Maths':[86,97,96]})
df3 = df2.copy()
print(df3)

   Physics  Chemistry  Maths
0       78         84     86
1       85         94     97
2       86         89     96

In [13]:
# 4.Write a program to create a dataframe of cities using a list of list
cities = [['Mumbai'],['Pune'],['Satara']]
city = pd.DataFrame(cities)
city

        0
0  Mumbai
1    Pune
2  Satara