In [2]:
# 1.Write a Python program to sort the given list of dictionaries using Lambda

models=[{'make':'Nokia','model':216,'color':'Black'},{'make':'MiMax','model':'2', 'color':'Gold'}, {'make':'Samsung', 'model': 7, 'color':'Blue'}]

s = sorted(models,key = lambda x:x['color'])

print(s)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'MiMax', 'model': '2', 'color': 'Gold'}]

In [3]:
# 2.Write a python program to filter out the vowels from the given list of alphabets and print the consonants.
letters = ['a', 'b', 'd', 'e', 'p', 'j', 'i','s', 'o', 'r',]

def filter_non_vowels(letters):
  vowels = ['a', 'e', 'i', 'o', 'u']
  if(letters in vowels):
    return False
  else:
    return True
    
filter_non_vowels = filter(filter_non_vowels, letters)
print('The filtered non-vowels are:')
for non_vowel in filter_non_vowels:
  print(non_vowel)

The filtered non-vowels are:
b
d
p
j
s
r

In [5]:
#3.Write a Python program to create a function that takes one argument,and that argument will be multiplied with an unknown given number.Print the double, triple and quadruple of the number

def compute(n):
  return lambda x : x * n
result = compute(2)
print("Double the number of 25 =", result(25))
result = compute(3)
print("Triple the number of 25 =", result(25))
result = compute(4)
print("Quadruple the number of 25 =", result(25))

Double the number of 25 = 50
Triple the number of 25 = 75
Quadruple the number of 25 = 100

In [6]:
# 4.Write a Python program to enumerate the string “Python”

String = "Python"
for i, j in enumerate(String):
  print(i, j)

0 P
1 y
2 t
3 h
4 o
5 n

In [7]:
# 5.Filter the array,and return a new array with only the values equal to or less than 18

Number = [5, 12, 17, 18, 24, 32]
def myFunc(x):
  if x > 18:
    return False
  else:
    return True
    
filtered_number = filter(myFunc, Number)
for x in filtered_number:
  print(x)

5
12
17
18