In [1]:
import pandas as pd

In [30]:
df = pd.read_csv('/content/RegularSeasonCompactResults.csv')

In [31]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [26]:
 df['Season'].value_counts()

1992    4127
1991    4123
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
1994    1232
Name: Season, dtype: int64

In [32]:
# 1.Import the dataset,find its shape and the descriptive statistics for numerical columns.
df.shape

(145289, 8)

In [33]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Season,145289.0,2001.574834,9.233342,1985.0,1994.0,2002.0,2010.0,2016.0
Daynum,145289.0,75.223816,33.287418,0.0,47.0,78.0,103.0,132.0
Wteam,145289.0,1286.720646,104.570275,1101.0,1198.0,1284.0,1379.0,1464.0
Wscore,145289.0,76.600321,12.173033,34.0,68.0,76.0,84.0,186.0
Lteam,145289.0,1282.864064,104.829234,1101.0,1191.0,1280.0,1375.0,1464.0
Lscore,145289.0,64.497009,11.380625,20.0,57.0,64.0,72.0,150.0
Numot,145289.0,0.044387,0.247819,0.0,0.0,0.0,0.0,6.0

In [34]:
# 2.With the Season being 1985,find the sum of Wscore.

s_1985 = df['Wscore'].where(df['Season']==1985).sum()

print('Sum of Wscore in Season 1985 is ',s_1985)

Sum of Wscore in Season 1985 is  279240.0

In [35]:
# 3.Find the minimum and maximum Lscore for the season 2016.
ma = df['Lscore'].where(df['Season']==2016).max()
mi = df['Lscore'].where(df['Season']==2016).min()


print('Max of Lscore in Season 1985 is ',ma)
print('Max of Lscore in Season 1985 is ',mi)

Max of Lscore in Season 1985 is  108.0
Max of Lscore in Season 1985 is  25.0

In [38]:
# 4.Find the variance and standard deviation of Lscore and Wscore for the Season 1986

var_Lscore = df['Lscore'].where(df['Season']==1986).var()
std_Lscore = df['Lscore'].where(df['Season']==1986).std()

var_Wscore = df['Wscore'].where(df['Season']==1986).var()
std_Wscore = df['Wscore'].where(df['Season']==1986).std()

print('Lscore variance : ',var_Lscore)
print('Lscore standard deviation : ',std_Lscore)
print('Wscore variance : ',var_Wscore)
print('Wscore standard deviation : ',std_Wscore)

Lscore variance :  111.12161171362379
Lscore standard deviation :  10.54142360943833
Wscore variance :  154.78096673126302
Wscore standard deviation :  12.441099900381117

In [40]:
# 5.Find the count of Wteam for the Season 1989.

w_team_count = df['Wteam'].where(df['Season']==1989).count()
print('Count for Wteam in season 1989 : ',w_team_count)

Count for Wteam in season 1989 :  4037