In [2]:
#1.Write a Python function to find the min of three number

def min_n(n):
  n.sort()
  return n[0]


n = list(map(int,input().split()))
print(min_n(n))

5 8 2 6
2

In [3]:
# 2.Write a function that takes user input and then check whether x is even or odd

def even_or_odd(x):
  if x % 2 == 0:
    return 'Even'
  else:
    return 'Odd'

x = int(input('Enter Number : '))

print(even_or_odd(x))

Enter Number : 226
Even

In [8]:
# 3.Define a function to Test if two words start with the same character,and returns True/False. Case distinction is ignored.

def mat(w1,w2):
  l1 = w1.lower()
  l2 = w2.lower()
  if l1[0] == l2[0]:
    print('Same Character')
  else:
    print('Not a same character')

w1 = input('Enter Word : ')
w2 = input('Enter Word : ')

mat(w1,w2)

Enter Word : Omkar
Enter Word : ok
Same Character

In [9]:
# 4.Take a name from user and print a greeting message using user defined function

def greeting(name):
  print('Hello Welcome',name)

name = input('Enter Name : ')
greeting(name)

Enter Name : omkar
Hello Welcome omkar

In [10]:
# Define a Python function to multiply all the numbers in a list.y=[5,7,12,35
def mul(l):
  m = 1
  for i in l:
    m = m * i
  print(m)

y = [5,7,12,35]
mul(y)

14700