> <pre>Python Variable</pre>

In [1]:
a = 10
print(a)

10

In [2]:
#Reassigning values to variable
p = 20 
print(p)
p = 'Python'
print(p)

20
Python

In [4]:
#Python allows you to assign a single value to several variables simultaneously.
a = b = c = 1
print(a)
print(b)
print(c)

1
1
1

In [5]:
#Python also assigns multiple objects to multiple variables.
a,b,c = 'John',1,2 
print(a)
print(b)
print(c)

John
1
2

> <pre>Python Data Types</pre>

In [6]:
#string data type
v5 = "Welcome to Python"
print(v5)
print(type(v5))

Welcome to Python
<class 'str'>

In [7]:
#integer data type
v1 = 10
print(v1)
print(type(v1))

10
<class 'int'>

In [8]:
#float data type
v2 = 10.55
print(v2)
print(type(v2))

10.55
<class 'float'>

In [9]:
#Boolean data type
v3 = True
print(v3)
print(type(v3))

True
<class 'bool'>

In [10]:
#None data type
v4 = None
print(v4)
print(type(v4))

None
<class 'NoneType'>

In [11]:
#1.Assign True or False to the variable below then print it.
eating_snacks=True
print(eating_snacks)

True

In [13]:
#2.Write python program to create a String with double Quotes
String1 = "Skill Academy"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))

String with the use of Double Quotes:
Skill Academy
<class 'str'>

In [14]:
#3.Write a python program to access the first and last characters of strings
String1 = "Skill Academy"
print("Initial String: ")
print(String1)

#Printing First character
print("\nFirst character of String is: ")
print(String1[0])

#Printing Last character
print("\nLast character of String is: ")
print(String1[-1])

Initial String:
Skill Academy

First character of String is:
S

Last character of String is:
y

In [16]:
# 4.Define two variables, j and k, with values 37 and 52 respectively.
#What is the sum and product of `j` and `k`?Now re-assign`j`and`k`to have the values 8 and 3 respectively.Again calculate the sum and product.

j=37
k=52
#sum
print(j+k)

#product
print(j*k)

j=8
k=3

#sum
print(j+k)
#product
print(j*k)

89
1924
11
24

In [18]:
#5.Calculate the number of minutes in a year using variables for a normal year
DaysInYear=365
HoursInDay=24
MinutesInHour=60
print("number of minutes:")
print(DaysInYear*HoursInDay*MinutesInHour)

number of minutes:
525600